.animated.fadeInRight
  .row
    .col-md-6.col-md-offset-3
      .ibox.float-e-margins
        .ibox-title
          %h5= I18n.t('message.views.create_text')
        .ibox-content.no-padding
          = simple_form_for model do |f|
            = f.input :body, as: :text, label: false, input_html: { class: 'js-summernote' }
            .p-w-md
              %h4.text-center= I18n.t('message.views.select_type')
              .hr-line-dashed.m-t-xs
              .radios.clearfix
                .pull-left
                  .icheckbox_square-green
                    = f.radio_button :destroy_type, Message::VISITS, class: 'i-checks js-visits-radio'
                  = f.label :destroy_type, I18n.t('message.fields.visits'), required: false
                .pull-right
                  = f.label :destroy_type, I18n.t('message.fields.hours'), required: false
                  .icheckbox_square-green
                    = f.radio_button :destroy_type, Message::HOURS, class: 'i-checks js-hours-radio'
              .text-center
                .accented-block.js-visits-block
                  .row.row-eq-height
                    .col-md-10
                      = f.input :visits_left, label: false, as: :numeric, input_html: { min: 1 }
                    .col-md-2.text-left.no-padding
                      = f.label :visits_left, required: false
                .accented-block.js-hours-block
                  = f.input :destroy_duration, label: false, input_html: { class: 'js-duration' }
              .hr-line-dashed
              = f.input :password, placeholder: 'Password', required: false, label: false, input_html: { class: 'js-password' }
              .clearfix
                .pull-right
                  = f.check_box :show_password, class: 'js-show-password'
                  = f.label :show_password, required: false
              .text-center.p-xs
                = f.submit I18n.t('actions.create'), class: 'btn btn-primary'
