.animated.fadeInRight
  .row
    .col-md-6.col-md-offset-3
      .ibox.float-e-margins
        .ibox-title
          %h5= I18n.t('message.views.create_text')
        .ibox-content.no-padding
          = simple_form_for model, html: { class: 'js-create-form' } do |f|
            = text_field_tag :body, nil, class: 'js-summernote', autocomplete: :off
            = f.input :ecnrypted_body, as: :hidden, input_html: { class: 'js-ecnrypted-body' }
            .p-w-md.p-b-md
              %h4.text-center= I18n.t('message.views.select_type')
              .hr-line-dashed.m-t-xs
              .radios.clearfix
                .pull-left
                  .icheckbox_square-green
                    = f.radio_button :destroy_type, Message::VISITS, class: 'i-checks js-visits-radio', checked: true
                  = f.label :destroy_type, I18n.t('message.fields.visits'), required: false
                .pull-right
                  = f.label :destroy_type, I18n.t('message.fields.hours'), required: false
                  .icheckbox_square-green
                    = f.radio_button :destroy_type, Message::HOURS, class: 'i-checks js-hours-radio'
              .text-center
                .accented-block.js-visits-block
                  .row.row-eq-height
                    .col-md-10
                      = f.input :visits_left, label: false, as: :numeric, input_html: { min: 1 }
                    .col-md-2.text-left.no-padding
                      = f.label :visits_left, required: false
                .accented-block.js-hours-block
                  = f.input :destroy_duration, label: false, input_html: { class: 'js-duration' }
              .hr-line-dashed
              .form-group.password
                = text_field_tag :password, nil, type: :password, placeholder: I18n.t('message.fields.password.encryption'), class: 'js-password form-control'
                .m-l-xs
                  = check_box_tag :show_password, nil, false, class: 'js-show-password'
                  = label_tag :show_password
              .text-right
                = button_tag I18n.t('actions.create'), class: 'btn btn-primary js-submit-button'
